.navbar-nav > li > .rc-dropdown {
	padding: 8px 15px;
}

.navbar-nav > li > .rc-dropdown.chosen-container-active {
	background-color: #e7e7e7;
}

.navbar-nav > li > .rc-dropdown .chosen-single {
	background-color: initial;
	border: none;
	box-shadow: none;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.chosen-container-single .chosen-drop {
	width: 100%;
}

.callout.callout-primary {
	border-left-color: #025aa5;
}

.callout.callout-primary h4 {
	color: #025aa5;
}

.callout.callout-info {
	border-left-color: #31b0d5;
}

.callout.callout-info h4 {
	color: #31b0d5;
}

.callout.callout-warning {
	border-left-color: #f0ad4e;
}

.callout.callout-warning h4 {
	color: #f0ad4e;
}

.callout.callout-danger {
	border-left-color: #c12e2a;
}

.callout.callout-danger h4 {
	color: #c12e2a;
}

.callout {
	padding: 1.25rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	border: 1px solid #eee;
	border-left-width: .25rem;
	border-radius: .25rem;
}

.bessemer-example .example {
	position: relative;
	padding: 1rem;
	border: .2rem solid #f7f7f9;
}

.bessemer-example .documentation {
	padding: 1.5rem;
	background-color: #f7f7f9;
}

.bessemer-example .documentation pre {
	margin: 0;
}

.bessemer-example .documentation code {
	padding: 0;
	background: none;
}

.bessemer-example .card {
	max-width: 20rem;
}

.bessemer-section-header {
	color: #cdbfe3;
	background-color: #563d7c;
	padding: 4rem 15px;
	margin-bottom: 3rem;
	text-align: left;
}

.bessemer-section-header h1 {
	font-size: 3rem;
	font-weight: normal;
	color: #fff;
}

.bessemer-section-header p {
	margin-bottom: 0;
	font-size: 1.25rem;
	font-weight: 300;

	margin-right: 380px;
}

.lead {
	font-size: 1.25rem;
	font-weight: 300;
}

.overlay-container {
	position: relative;
}

.modal-backdrop {
	position: absolute;
}

.bessemer-input {
	background-color: #fff;
	border-radius: .25rem;
	border: 1px solid #ccc;
	color: #333;
	cursor: default;
	border-spacing: 0;
	border-collapse: separate;
	height: 36px;
	outline: none;
	overflow: hidden;
	position: relative;
	display: inline-flex;
	min-width: 100px;
}

.bessemer-input .placeholder {
	bottom: 0;
	color: #aaa;
	left: 0;
	line-height: 34px;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	right: 0;
	top: 0;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.bessemer-input .input-zone {
	height: 34px;
	padding-left: 10px;
	padding-right: 5px;

	vertical-align: middle;
	position: relative;
	flex-grow: 1;
	line-height: 35px;
}

.bessemer-input .input-zone input {
	background: none transparent;
	border: 0 none;
	box-shadow: none;
	cursor: default;
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	outline: none;
	line-height: 14px;
	padding: 8px 0 12px;
	-webkit-appearance: none;
}

.bessemer-input .control-zone {
	cursor: pointer;
	text-align: center;
	width: 25px;
	padding-right: 5px;
	line-height: 30px;
	color: #999;
}

.bessemer-scroll-zone {
	border: 1px solid black;
	overflow: auto;
	position: relative;
}

.bessemer-scroll-zone > .scroller-y {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
}

.bessemer-scroll-zone > .scroller-x {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 1px;
}

.dropdown-zone {
	padding: .5rem 0;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.15);
	border-top: none;
	border-radius: 0 0 .25rem .25rem;
	width: 100%;
}

.dropdown-zone.bordered {
	border-top: 1px solid rgba(0,0,0,.15);
	border-radius: 0 .25rem .25rem .25rem;
}

.bessemer-input.dropdown-open {
	border-radius: .25rem .25rem 0 0;
}

.bessemer-input.dropdown-open.bordered {
	border-radius: .25rem .25rem .25rem 0;
}

.bessemer-input.dropdown-open.borderless {
	border-bottom: none;
}

.dropdown-item.clickable {
	cursor: pointer;
}